{% load static %}

{# bookings/templates/bookings/review_ticker.html #}
<style>
  .review-ticker {
      font-family: 'Playfair Display', serif;
      text-align: center;
      padding: 20px;
      color: #f8f8f8;
      min-height: 50px; /* Reserve space */
  }
  .review-item {
      display: none;
  }
  .review-item:first-child {
      display: block;
  }
</style>

<div id="review-ticker" class="review-ticker"> 
  {% for review in reviews %}
    <div class="review-item">
      <span>"{{ review.comment }}" - {{ review.name }}</span>
    </div>
  {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/review_ticker.js' %}"></script>


